@import './globals'

//Layout principal - header,body,main,footer      
body
    background: linear-gradient(180deg, $bg-color 85%, $dark-red 100%)
    background-attachment: fixed

main 
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: calc(100vh - 150px)
    padding: 2rem 4rem

footer
    display: flex 
    align-items: center
    justify-content: center
    max-height: 60px
    margin-top: 50px
    padding: 10px

header nav
    display: flex
    justify-content: center
    align-items: flex-end
    padding: 10px
    gap: 1.2rem
    min-height: 80px
    a 
        color: $text-color
        border-bottom: 0.2rem solid transparent
        font-weight: 600
        font-size: 1.3rem
        transition: 0.4s ease
        &:hover
            border-bottom: 0.2rem solid $light-red
            color: $light-red
            text-shadow: 0 0 1rem $light-red

//Main content home page
.home-container
    display: flex
    align-items: center
    .info-content
        display: flex
        flex-direction: column
        align-items: center
        width: 40%
        gap: 0.5rem
        img
            border-radius: 50%
            border: .1rem solid $light-red
        span
            color: $light-red
        .social-links
            display: flex
            gap: 0.5rem
            a  
                display: inline-flex
                justify-content: center
                align-items: center
                width: 2.2rem
                height: 2.2rem
                background: transparent 
                border: .1rem solid $light-red
                border-radius: 50%
                font-size: 1.4rem
                color: $light-red
                transition: 0.4s ease
                &:hover
                    box-shadow: 0 0 1rem $light-red
        .email
            a:hover 
                color: $light-red
                text-shadow: 0 0 0.2rem $light-red
            i:before
                font-size: 1rem
                vertical-align: middle
                margin-right: 0.2rem
                color: $light-red

    .about-content
        width: 60%
        text-align: justify
        padding-left: 0.8rem                
        border-left: 0.1rem solid $light-red
        h4
            color: $light-red
            margin-top: 0.5rem
        ul
            display: grid
            grid-template-columns: 12rem 12rem
            font-size: 0.9rem
            list-style-type: none

//Main content allprojects page
.title
    padding: 5px 10px
    align-self: flex-start
.cards-container
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-top: 1rem
    padding: 1rem
    gap: 2rem
    
    .card
        position: relative
        display: flex
        align-items: center
        justify-content: center
        border: 0.1rem solid $light-red
        border-radius: 8px
        background: $dark-red
        overflow: hidden
        min-width: 16rem
        min-height: 12rem
        transition: 0.6s
        &:hover
            box-shadow: 0 0 1rem $light-red
        &:hover .card-layer
            transform: translateY(0)
        h3
            text-transform: capitalize
            position: absolute
            z-index: 1
        .card-layer
            position: absolute
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            padding: 0.8rem
            z-index: 2
            bottom: 0
            left: 0
            width: 100%
            height: 100%
            background: linear-gradient($dark-red, $light-red)
            transform: translateY(100%)
            transition: transform 0.4s ease
            
                
//Main content project page
.project-container
    margin: 0
    max-width: 900px
    h2
        text-transform: capitalize
    h4
        color:$light-red
        margin-top: 0.8rem
    p
        text-align: justify
    .img-box
        max-width: 100vw
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        .project-img
            margin-top: 2rem
            max-width: 50vw
            height: auto
            border: .1rem solid $light-red
    .title-box
        display: flex
        flex-direction: column
        align-items: flex-end
        i:before
            font-size: 1rem
            vertical-align: middle
            margin-right: 0.1rem
            margin-left: 0.4rem
            color: $light-red
        a:hover 
            color: $light-red
            text-shadow: 0 0 1rem $light-red

//Responsividade
@media (max-width: $large)
    main
        min-width: fit-content
        padding: 2rem 0
    
    .home-container
        flex-direction: column
        .info-content
            width: 90%
            img
                width: 150px
                height: 150px
        .about-content
            width: 90%
            padding-left: none
            margin-top: 1rem
            padding-top: 0.5rem
            border-left: none                
            border-top: 0.1rem solid $light-red
    
    .title
        margin-left: 4rem
    
    .project-container
        padding: 10px

@media (max-width: $small)
    html,body
        font-size: 14px
    .home-container
        .about-content
            ul
                grid-template-columns: 1fr

@media (min-width: $x-large)
    html,body
        font-size: 18px