main 
    background-color: #f2f2f2
    min-height: 500px

footer
    display: flex 
    align-items: center
    justify-content: center
    background-color: #1c4f6e
    color: #fff
    min-height: 60px
    padding: 10px

header nav
    display: flex
    justify-content: center
    align-items: flex-end
    padding: 10px
    gap: 20px
    min-height: 100px
    background-color: #1c4f6e
    a 
        color: #fff
        font-weight: 700
        font-size: 24px
    a:hover
        color: #c8c8c8
